* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.wrapper {
  width: 100%;
  height: 100%;
  background-color: #141615;
  /* color: white; */
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  display: block;
}

.login-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

[aria-label="Export"] {
  display: none !important;

}

.css-228fb87-MuiDataGrid-toolbarContainer {
  /* padding: 10px !important; */
  /* display: flex; */
}